{% extends 'layout.html' %}


{% block body %}
{% include 'includes/_messages.html' %}
<h1> Carbon TO RC </h1>
<p>Your current balance is {{ balance }} CARBON</p>
     {% from "includes/_formhelpers.html" import render_field %}

<form action="" method="POST">
  <div class="form-group">
    <div class="form-label-group">
      {{render_field(form.amount, class_="form-control")}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Buy Now</button>
</form>


{% endblock %}
